#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

body {
    font-family: 'Cairo', sans-serif;
    background-image: url(img/stars.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.text-container {
    position: relative;
}

table {
    font-family: 'Cairo', sans-serif;
    width: 100%;

}

td, th {
    border: 5px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

tr {
    background-color: #dddddd;
  }
  
